*{
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: border-box;
}

.nav-Bar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-Logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}


.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

/** Nav Address **/ 

.add-Icon{
    display: flex;
    align-items: center;

}


.Add1{
    color: #cccccc;
    font-size: 0.9rem;
    padding-bottom: 10%;
}

.Add2{
    font-size: 1rem;
}

/** Search Bar **/

.search{
    display: flex;
    justify-content: space-evenly;

    width: 620px;
    height: 40px;
    border-radius: 4px;
    

}

.search-sel{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}

.search-In{
    width:100% ;
    font-size: 1rem; 
    border: none;

}

.search-Icon{
    width:45px;
    display: flex;
    background-color: orange;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;
}

.search:hover{
    border: 2px solid orange;
}

/** Sign in **/

span{
    font-size: 0.8rem;
}

.nav-2{
    font-size: 0.9rem;
    font-weight: 700;
}

/** Cart **/

.cart i{
    font-size: 30px;
}

.cart{
    font-size: 0.8rem;
    font-weight: 700;
}

/** Panel **/

.panel{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 40px;
    background-color: #222f3d;
    color: white;
}

.panel-Opts p{
    display: inline;
    margin-left: 15px;
}

.panel-Opts{
    width: 70%;
    justify-content: space-evenly;
    font-size: 0.85rem;
}

.panel-Deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/** Hero Section **/

.hero-Sec{
    background-image: url("Hero_Img.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-Msg{
    background-color: white;
    color: black;
    height: 40px;
    font-size: 0.85rem ;
    bottom: 25px;
    width: 80%;
    margin-bottom: 20px;
}

.hero-Msg a{
    color: #007185;
}

/** Shop Section **/

.shop{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}


.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}

.box-Img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.box-Cont{
    margin-left: 10px;
    margin-right: 10px;
}

.box-Cont p{
    color: #007185;
}


/** Footer **/

footer{
    margin: 15px;
}

.foot-P1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    
}

.foot-P2{
    background-color: #222f3d;
    display: flex;
    height: 300px;
    color: white;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px ;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    caret-color: #dddddd;
}

.foot-P3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px; 
}

.foot-P4{
    background-color: #0F1111;
    color: white;
    height: 100px;
    font-size:0.7rem;
    text-align: center;

}

.pages{
    padding-top: 25px;
}

.cright{
    padding-top: 5px;
}