*{
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: border-box;
}

.nav-Bar{
    height: 60px;
    background-color: #0F1111;
    color: white;
}

.logo{
    background-image: url(amazon_logo.png);
}
